[Unit]
Description=Run Kyuden hourly collector (user)

[Timer]
OnCalendar=hourly
RandomizedDelaySec=5m
Persistent=true
AccuracySec=1m
Unit=kyuden-hourly.service

[Install]
WantedBy=timers.target