<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.kyuden.collector.hourly</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>exec "$HOME/kyuden-data-collector/scripts/run_macos_collector.zsh" hourly</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>KYUDEN_BROWSER_CHANNEL</key><string>chrome</string>
    <key>KYUDEN_HEADLESS</key><string>true</string>
  </dict>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Minute</key><integer>5</integer>
  </dict>

  <key>KeepAlive</key><false/>
  <key>RunAtLoad</key><false/>
</dict>
</plist>
